# ==================================================
# PostgreSQL
# ==================================================

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=olist
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ==================================================
# DuckDB
# ==================================================

DUCKDB_PATH=warehouse/olist.duckdb

# ==================================================
# Airflow
# ==================================================

AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=False

# ==================================================
# Project Paths
# ==================================================

RAW_DATA_PATH=data/raw
PROCESSED_DATA_PATH=data/processed

# ==================================================
# Logging
# ==================================================

LOG_LEVEL=INFO