# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==================================================
# Virtual Environment
# ==================================================

venv/
.venv/
env/

# ==================================================
# Environment Variables
# ==================================================

.env

# ==================================================
# macOS
# ==================================================

.DS_Store

# ==================================================
# IDE
# ==================================================

.vscode/
.idea/

# ==================================================
# Python Testing
# ==================================================

.pytest_cache/
.coverage
htmlcov/

# ==================================================
# Logs
# ==================================================

logs/
*.log

# ==================================================
# Data Outputs
# ==================================================

data/processed/

warehouse/*
!warehouse/olist.duckdb

# ==================================================
# dbt
# ==================================================

dbt_olist/target/
dbt_olist/dbt_packages/
dbt_olist/logs/

# ==================================================
# Airflow
# ==================================================

airflow/logs/
airflow/plugins/__pycache__/

# ==================================================
# Jupyter
# ==================================================

.ipynb_checkpoints/

# ==================================================
# Temporary Files
# ==================================================

*.tmp
*.bak

# ==================================================
# Operating System
# ==================================================

Thumbs.db

# ==================================================
# Python Build
# ==================================================

build/
dist/
*.egg-info/

# ==================================================
# Python Environment
# ==================================================

.python-version

# ==================================================
# Coverage
# ==================================================

.coverage.*
# ==================================================
# Airflow Runtime Files
# ==================================================

airflow.cfg
airflow-webserver.pid
webserver_config.py

# dbt
dbt_olist/target/
dbt_olist/logs/

airflow-webserver.pid
gunicorn.ctl

logs/

dbt_olist/logs/

dbt_olist/target/

__pycache__/

.pytest_cache/